<ActionBar flat="true" backgroundColor="#03045e">
    <Label text="Home" color="white"></Label>
</ActionBar>

<GridLayout>

    <GridLayout id="placeholderLayout" visibility="{{ items.length !== 0 ? 'collapse' : 'visible' }}">

        <StackLayout horizontalAlignment="center" verticalAlignment="center" width="70%">

            <Label class="fas" text="&#xf5b8;" fontSize="100" textAlignment="center"></Label>
            <Label text="No notifications" textWrap="true" textAlignment="center" margin="20" fontSize="20"></Label>

        </StackLayout>

    </GridLayout>

    <GridLayout *ngIf="items.length > 0">

        <RadListView [items]="items"
                     class="list-group"
                     height="100%">

            <!-- Invoice -->
            <ng-template let-item="item">

                <StackLayout class="card-content" [nsRouterLink]="['../item', item.id]">

                    <Label [text]="item.title" fontSize="20" color="#a9a9a9"></Label>
                    <Label [text]="item.description" fontSize="20" color="#a9a9a9"></Label>

                </StackLayout>

            </ng-template>

        </RadListView>

    </GridLayout>


</GridLayout>
