$pane-width: 350px;
$navbar-height: 70px;
$insightspane-width: 350px;
$routepane-width: 350px;

html {
  height: 100%;
}

#app {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.view {
  height: 100%;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(190, 200, 201); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.container-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
